body{
  margin: 0;
  padding: 0;
  left: 0;
  top:0;
}
p, h1{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* nav */
.nav-container{
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin:0 auto;
  margin-bottom: 50px;
}
.nav-container .menus{
  display: flex;
  column-gap: 50px;
  font-family: open-sans,sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-container .menus a{
  text-decoration: none;
  color: #999999;
}

/* Hero section */
.hero-bg{
  background-image: url(images/image\ \(1\).jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  height: 817px;
  padding-top: 30px;
  margin-bottom: 80px;
}
.hero-bg .text-content{
  text-align: center;
}
.text-content .small-text{
  font-size: 22px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.text-content .large-text{
  font-size: 72px;
  font-weight: 700;
}

/* grid container */
.grid-container{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  justify-content: center;
  margin-bottom: 80px;
}

.grid-container .first-row{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}
.grid-container .first-row .text1{
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px;
  text-transform: capitalize;
  padding-right: 15px;
  margin-top: 30px;
}
.grid-container .first-row .text1 span{
  font-weight: 700;
}
.grid-container .first-row .fa-arrow-right{
  font-size: 75px;
}
.grid-container .second-row{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding: 0 30px;
}
.grid-container .second-row .fa-heart{
  font-size: 80px;
}
.grid-container .second-row .text2{
  font-family: open-sans,sans-serif;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}
.grid-container .third-row img{
  object-fit: cover;
}
.grid-container .fourth-row{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  padding: 0 30px;
}
.grid-container .fourth-row .fa-dog{
  font-size: 50px;
} 
.grid-container .fourth-row p{
  font-family: open-sans,sans-serif;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}
.grid-container .fifth-row img{
  object-fit: cover;
  object-position: top;
}
.grid-container .six-row{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  padding: 0 30px;
}
.grid-container .six-row .fa-cat{
  font-size: 50px;
}
.grid-container .six-row p{
  font-family: open-sans,sans-serif;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

/* hero background 1 */
.hero-bg1{
  background-image: url(images/image\ \(4\).jpeg);
  background-size: cover;
  background-position: center center;
  height: 695px;
  position: relative;
  filter: contrast(150%);
  margin-bottom: 80px;
}
.hero-bg1 .content{
  position: absolute;
  color: white;
  top: 100px;
  left: 100px;
}
.hero-bg1 .content .text1{
  font-family: Playfair Display,serif ;
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: 400;
}
.hero-bg1 .content .text2{
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 20px;
  font-family: roboto,sans-serif;
}
/*  */
.grid-col-3{
  display: grid;
  grid-template-columns: 342px 456px 342px;
  grid-template-rows: 573px;
  grid-auto-flow: row;
  justify-content: center;
  margin-bottom: 80px;
}
.grid-col-3 .grid-row-1{
  padding: 30px;
}
.grid-col-3 .grid-row-1 .text1{
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 20px;
  font-family: roboto,sans-serif;
  margin-bottom: 20px;
}
.grid-col-3 .grid-row-1 .text2{
  font-family: playfair display,serif;
  font-size: 36px;
  margin-bottom: 18px;
}
.grid-col-3 .grid-row-1 .text2 span{
  font-weight: 900;
}
.grid-col-3 .grid-row-1 .text3{
  font-size: 16px;
  font-family: open sans,sans-serif;
  line-height: 24px;
}
.grid-col-3 .grid-row-2 img{
  object-fit: cover;
  object-position: center;
}
.grid-col-3 .grid-row-3 img{
  background-color: black;
  object-fit: contain;
  object-position: bottom;
}
/*  */
.grid-col-3 .grid-row-1 .parag1{
  font-size: 20px;
  font-family: roboto,sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-top: 50vh;
  margin-bottom: 20px;
  text-align: right;
}
.grid-col-3 .grid-row-1 .parag2{
  font-size: 36px;
  font-family: Playfair display,serif;
  text-align: right;
}
.grid-col-3 .grid-row-3 .parag1{
  line-height: 26px;
  font-size: 16px;
  font-family: open-sans,sans-serif;
  margin-left:30px;
  margin-top: 50vh;
}
.grid-col-3 .grid-row-3 .social-media-icons{
  font-size: 25px;
  padding: 30px 0 30px 30px;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}
/* hero bg2 */
.hero-bg2{
  background-image: url(images/image\ \(8\).jpeg);
  height: 665px;
  background-size:cover;
  width: 2500px;
  background-repeat:no-repeat;
  display: flex;
  justify-content: space-between;
}
.hero-bg2 .image8 img{
  width: 1000px;
  height: 665px;
  object-fit: contain;
  object-position: 0%, 10%;
  object-position: top;
  position: absolute;
  right: 0;
}
.hero-bg2 .content{
  margin-top: 35vh;
  margin-left: 10vw;
}
.hero-bg2 .content .text1{
  font-size:36px;
  font-family: playfair display;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.hero-bg2 .content .text2{
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 20px;
  font-family: roboto,sans-serif;
  margin-bottom: 25px;
}
.hero-bg2 .content .text3{
  font-family: open-sans,sans-serif;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 20px;
}
.hero-bg2 .content button{
  padding: 10px 52px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5)
}
.section8{
  background-color: black;
  color: white;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section8 .content .text1{
  font-size: 36px;
  font-family: playfair display,serif;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 30px;
}
.section8 .content .text1 span{
  font-weight: 700;
  text-transform: capitalize;
}
.section8 .social-media-icons{
  display: flex;
  column-gap: 30px;
  font-size: 25px;
  cursor: pointer;
}
.hero-bg3{
  background-image: url(images/image\ \(9\).jpeg);
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.hero-bg3 .content{
  text-align: right;
  position: absolute;
  right: 10%;
  transform: translate(0%,50%);
}
.hero-bg3 .content .title{
  text-transform: capitalize;
  font-size: 36px;
  font-family: playfair display,serif;
  margin-bottom: 15px;
}
.hero-bg3 .content .description{
  line-height: 28px;
  font-size: 16px;
  font-family: roboto,sans-serif;
  margin-bottom: 30px;
}
.hero-bg3 .form{
  display: flex;
  width: 500px;
}

.hero-bg3 .form .cta{
  padding: 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.486);
  font-size: 16px;
  font-family: roboto,sans-serif;
  outline: none;
  width: 400px;
}
.hero-bg3 .form .cta::placeholder{
  color: rgba(128, 128, 128, 0.603) ;
  font-weight: 300;
}
.hero-bg3 .content .form .submit-btn{
  padding: 15px 30px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: playfair display serif ;
  border: none;
  margin-left: -1px;
}
.footer1{
  display: grid;
  grid-template-columns: 250px 250px 2fr 1fr;
  text-align: left;
  grid-auto-flow: column;
  background-color: #161111c9;
  color: rgb(216, 216, 216);
  padding: 30px;
  align-items: top;
  justify-content: space-between;
  min-height: 250px;
}
.footer1 p:hover, .footer1 .social-media-icons i:hover{
  color: rgb(190, 225, 255);
  text-decoration: underline;
}
.footer1 p{
  margin-bottom: 5px;
  line-height: 22px;
  cursor: pointer;
}
.footer1 h3{
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.footer1 .social-media-icons{
  font-size: 25px;
  display: flex;
  column-gap: 15px;
}
.footer2{
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}